Convolutional Neural Networks/Case Studies/saved_resnet_models/*
Convolutional Neural Networks/Object Detection/model_data/yolo.h5
Convolutional Neural Networks/Special Applications/pretrained-model/imagenet-vgg-verydeep-19.mat